:root {
  --primary-color: #2e2f42;
  --secondary-color: #4d5ae5;
  --color-txt-button: #f4f4fd;
  --color-portfolio: #434455;
  --primary-font: 'Raleway', sans-serif;
  --secondary-font: 'Roboto', sans-serif;
  --background-color: #ffffff;
  --action-color: #404bbf;
  --cornflower: #e7e9fc;
  --lightslate: #8e8f99;
  --eclipse: #31d0aa;
  --cubicBesier: 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

h1,
h2,
h3 {
  margin: 0;
}
h2 {
  font-size: 36px;
  line-height: calc(40 / 36);
  letter-spacing: 0.72px;
  text-transform: capitalize;
}

h3 {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
  color: var(--primary-color);
  margin-bottom: 8px;
}

ul,
p {
  margin: 0;
  padding: 0;
}

img {
  display: block;
}

li {
  list-style: none;
}

a {
  text-decoration: none;
}

button,
filter-btn {
  cursor: pointer;
}

.section {
  padding: 120px 0;
}
.container {
  max-width: 1158px;
  padding: 0 15px;
  margin: 0 auto;
}

body {
  font-family: var(--secondary-font);
  color: var(--color-portfolio);
  background-color: var(--background-color);
}

.page-header {
  border-bottom: 1px solid var(--cornflower);
  background: var(--white, #fff);
}

.logo {
  display: block;
  padding: 24px 0;
  margin-right: 76px;
}

.logo-blue {
  display: inline-block;
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--secondary-color);
}

.logo-dark {
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--primary-color);
}

.nav {
  display: flex;
  align-items: center;
}

.nav-list {
  display: flex;
  gap: 40px;
  padding: 24px 0;
  align-content: baseline;
}

.header-container {
  display: flex;
  justify-content: space-between;
}

.logo-white {
  font-family: var(--primary-font);
  font-size: 18px;
  font-style: normal;
  font-weight: 800;
  line-height: 1.17;
  letter-spacing: 0.54px;
  text-transform: uppercase;
  color: var(--color-txt-button);
}

.nav-link {
  position: relative;
  font-size: 16px;
  font-style: normal;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--primary-color);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.contact {
  font-style: normal;
}

.contact-list {
  display: flex;
  gap: 40px;
  align-content: baseline;
}

.contact-link {
  display: block;
  font-size: 16px;
  /* font-style: normal; */
  line-height: 1.5;
  letter-spacing: 0.32px;
  color: var(--color-portfolio);
  padding: 24px 0;
  transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.nav-link:hover,
.nav-link:focus,
.contact-link:hover,
.contact-link:focus {
  color: var(--action-color);
}

.nav-link.current {
  color: var(--action-color);
}
.nav-link.current::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -4px;
  height: 4px;
  border-radius: 2px;
  background-color: var(--action-color);
  width: 100%;
  transition: transform var(--cubicBesier), width var(--cubicBesier);
}

.nav-link:hover::after {
  width: 0;
  color: var(--action-color);
}

.nav-link:hover::after {
  transform: scaleX(1.1);
}

.hero-section {
  background-color: var(--primary-color);
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/bckgrd/bg-img.jpg);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  padding: 188px 0;
}

.hero-title {
  display: block;
  margin: 0 auto;
  font-size: 56px;
  font-weight: 500;
  line-height: 1.07;
  letter-spacing: 0.02em;
  text-align: center;
  color: var(--background-color);
  margin-bottom: 48px;
  max-width: 496px;
}

.hero-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  background-color: var(--secondary-color);
  color: var(--background-color);
  padding: 16px 32px;
  border: 0;
  border-radius: 4px;
  box-shadow: 0px 4px 4px 0px rgba(0, 0, 0, 0.15);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.hero-btn:hover,
.hero-btn:focus {
  background-color: var(--action-color);
}

/* modal */
.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background-color: #f5f5f530;
  transition: background-color var(--cubicBesier);
}

.modal {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -43%);

  width: 528px;
  min-height: 581px;
  background-color: #ffffff;
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 4px;

  transition: box-shadow var(--cubicBesier), transform var(--cubicBesier),
    background-color var(--cubicBesier);
}
.backdrop.is-hidden {
  opacity: 0;
  pointer-events: none;
  box-shadow: none;

  transition-property: opacity;
  transition-duration: 250ms;
  transition-timing-function: var(--timing);
}
.button-close {
  position: absolute;
  display: flex;

  width: 30px;
  height: 30px;
  border-radius: 50%;
  cursor: pointer;
  padding: 0;
  background-color: var(--cornflower);
  align-items: center;
  justify-content: center;
  right: 8px;
  top: 8px;
  border: 1px solid rgba(0, 0, 0, 0.1);
}
.icon-close-button {
  fill: var(--primary-color);
  left: 50%;
  top: 50%;
}

.values-tittle {
  font-family: var(--secondary-font);
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.values-text {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.values-list {
  display: flex;
  gap: 24px;
}

.values-icon-block {
  padding: 24px 100px;
  border-radius: 4px;
  background-color: var(--color-txt-button);
  margin-bottom: 8px;
}

.values-icon {
  display: block;
}
.values-item {
  width: calc((100% - 3 * 24px) / 4);
}
.activities-section {
  padding-top: 0;
  text-align: center;
}

.activities-title {
  margin-bottom: 72px;
}

.team-title {
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  text-transform: capitalize;
  color: var(--primary-color);
}

.activities-list {
  display: flex;
  gap: 24px;
}

.team-section {
  background-color: var(--color-txt-button);
}

.team-title {
  margin-bottom: 72px;
}

.team-list {
  display: flex;
  gap: 24px;
}

.team-item {
  align-items: center;
  background-color: var(--background-color);
  border-radius: 0px 0px 4px 4px;
  box-shadow: 0px 2px 1px 0px rgba(46, 47, 66, 0.08),
    0px 1px 1px 0px rgba(46, 47, 66, 0.16),
    0px 1px 6px 0px rgba(46, 47, 66, 0.08);
}

.team-text {
  text-align: center;
  padding: 32px 0;
}
.team-names {
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.team-descr {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 8px;
}

.team-socials-list {
  display: flex;
  gap: 24px;
  align-items: center;
  justify-content: center;
}

.social-link {
  display: block;
  border-radius: 50%;
  width: 40px;
  height: 40px;
  padding: 12px;
  background-color: var(--secondary-color);
  transition: background-color var(--cubicBesier);
}
.socials-icon {
  fill: var(--background-color);
}

.social-link:hover,
.social-link:focus {
  background-color: var(--action-color);
  transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.customers-title {
  margin-bottom: 72px;
  text-align: center;
}

.customers-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  align-items: center;
}

.customers-item {
  width: 168px;
  height: 88px;
  border-radius: 4px;
  border: 1px solid var(--lightslate);
  padding: 16px 32px;
}

.customers-icon {
  display: block;
  fill: var(--lightslate);
  transition: fill var(--cubicBesier);
}

.customers-icon:hover,
.customers-icon:focus {
  fill: var(--action-color);
}

.footer {
  background-color: var(--primary-color);
  padding: 100px 0;
}

.logo-footer {
  margin-bottom: 16px;
}

.footer-text {
  max-width: 264px;
  color: var(--color-txt-button);
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.footer-socials-list {
  gap: 16px;
}

.social-footer-link {
  display: block;
  padding: 8px;
}

.social-footer-link:hover,
.social-footer-link:focus {
  background-color: var(--eclipse);
}

.footer-container {
  display: flex;
  gap: 120px;
  align-items: baseline;
}

.social-media-title {
  color: var(--background-color);
  font-size: 16px;
  line-height: calc(24 / 16);
  letter-spacing: 0.32px;
}

/* ====== PORTFOLIO ======= */

.filter-section {
  padding: 96px 0 120px;
}

.filter-list {
  display: flex;
  gap: 24px;
  justify-content: center;
  margin-bottom: 72px;
  font-size: 20px;
  font-weight: 500;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: var(--primary-color);
}

.filter-btn {
  color: var(--secondary-color);
  background-color: var(--color-txt-button);
  font-family: var(--secondary-font);
  font-size: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  border: 1px solid var(--cornflower);
  background-color: var(--color-txt-button);
  padding: 12px 24px;
  transition: background-color var(--cubicBesier), box-shadow var(--cubicBesier),
    border var(--cubicBesier);
}

.filter-btn:hover,
.filter-btn:focus {
  color: var(--background-color);
  background-color: var(--action-color);
  border: 1px solid transparent;
  box-shadow: 0px 2px 1px 0px rgba(0, 0, 0, 0.2),
    0px 1px 3px 0px rgba(0, 0, 0, 0.12), 0px 1px 1px 0px rgba(0, 0, 0, 0.14);
}

.gallery-list {
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.gallery-item {
  width: calc((100% - 48px) / 3);
  margin-bottom: 48px;
}

.gallery-item:nth-last-child(-n + 3) {
  margin-bottom: 0;
}

.gallery-descr {
  border: 1px solid var(--cornflower);
  border-top: none;
  background: var(--background-color);
  padding: 32px 16px;
}

.gallery-title {
  font-size: 20px;
  font-weight: 500;
  line-height: calc(24 / 20);
  letter-spacing: 0.4px;
  color: var(--primary-color);

  margin-bottom: 8px;
}

.gallery-text {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: var(--color-portfolio);
}

.card-thumb {
  position: relative;
  overflow: hidden;
}

.overlay {
  position: absolute;
  top: 0;
  left: 0;
  transform: translateY(100%);
  display: flex;
  align-items: center;
  width: 100%;
  height: 100%;
  background-color: var(--secondary-color);
  transition: transform var(--cubicBesier);
}
.overlay-text {
  padding-left: 24px;
  padding-right: 24px;
  font-weight: 400;
  font-size: 18px;
  line-height: 1.6;
  letter-spacing: 0.03em;
  color: var(--background-color);
}

.gallery-item:hover .overlay {
  transform: translateY(0%);
}
